*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: black;
    font-size: 30px;
}

img {
    height: 10rem;
    width: 10rem;
}

.section {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90vw;
  
    justify-content: center;
}

.komp-store {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 62, 62);
    padding-top: 2rem;
    padding-bottom: 0%;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 20rem;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgba(128, 128, 128, 0.473);
    padding: 1rem;
    margin: 1rem;
}

.computer-container {
    background-color: rgba(128, 128, 128, 0.473);
    width: 95%;
    align-self: flex-start;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 1rem;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 5px 0;
}

.button-container {
    width: 100%;
    align-items: flex-start;    
    display: flex;
    justify-content: space-evenly;
}

.button{    
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#loan-button {
    background-color: #4CAF50;     
}

#bank-button {
    background-color: #c4c12c; 
}

#work-button {
    background-color: #2f39c0; 
}

#repay-button {
    background-color: #83368a; 
}

#buy-now-button {
    background-color: #3496d6; 
}

#features {
    font-size: 20px;
    font-weight: bold;
}
  
#computers {
    height: 2rem;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}